/* PÃGINA CURSOS */
.content__curso {
    width: 85%;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto 40px;
  }
  
  .content__curso--main {
    width: 60%;
    background-color: rgb(248, 248, 248);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 15px 30px;
    box-shadow: 0 8px 30px rgb(0 0 0 / 15%);
  }
  
  .content__curso--main h2 {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-backfunc);
  }
  
  .separacion {
    width: 70%;
    height: 1px;
    background-color: var(--color-secondary);
    margin: 10px 0;
  }
  
  .content__curso--obj {
    font-weight: bold;
    font-size: 1rem;
    padding-top: 10px;
  }
  
  .content__curso--obj > i,
  .content__curso--stack > i {
    padding-right: 10px;
    color: var(--color-secondary);
  }
  
  .content__curso--stack {
    font-size: 1rem;
    font-weight: 300;
    padding-top: 10px;
  }
  
  .content__curso--resume {
    font-size: .9rem;
    font-weight: 400;
    padding-top: 20px;
  }
  
  .content__curso--btn {
    margin-top: 30px;
    font-size: 0.9rem;
    border: none;
    background-color: var(--color-secondary);
    border-radius: 9999px;
    padding: 8px 20px;
    cursor: pointer;
    transition: filter 0.2s ease;
  }
  
  .content__curso--btn:hover {
    filter: brightness(90%);
  }
  
  .content__curso--img {
    width: 40%;
    position: relative;
  }
  
  .content__curso--img img {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 30px rgb(0 0 0 / 15%);
  }
  
  .content__curso--img span {
    width: 100%;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 1.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .content__foro--header {
    padding: 10px 0;
  }
  