.content {
    width: 100%;
    background-color: #dadada;
  }
  
  .content__header {
    background-color: var(--light-gray);
    position: sticky;
    padding: 3px 10px;
    width: 100%;
    top: 60px;
    z-index: 1;
    box-shadow: 0px 9px 28px -18px rgba(0,0,0,0.75);
  }
  
  .leftDiv {
    display: none;
  }
  
    @media (min-width: 768px) {
      .content__header {
        padding: 0;
        box-shadow: none;
      }
      .leftDiv {
        display: flex;
        align-items: center;
      }
    }
  
  .content__header--title {
    width: 95%;
    color: var(--color-backfunc);
    text-shadow: 0px 2px 4px rgba(32, 33, 36, 0.2);
    font-weight: bold;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  .searchDiv {
    background-color: #3c3c3d;
    border-radius: 4px;
    height: 40px;
    width: 70%;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    margin-left: 20px;
  }

  .searchDiv > svg {
    color: #858585;
  }

  .content__header--search {
    background: transparent;
    margin-left: 5px;
    height: 100%;
    width: 250px;
    border: transparent;
    padding: 10px;
    outline: none;
    font-size: 1rem;
    color: var(--light-gray);
  }

  .content__header--search:focus {
    outline: none;
  }

  .content__header--filter-select {
    background: transparent;
    height: 100%;
    border: transparent;
    outline: none;
    color: var(--color-backfunc);
    font-size: 1.6rem;
    padding: 10px 0;
    margin-left: -5px;
    font-weight: bold;
  }

  /* .content__header--filter-select option {
    font-size: 1.4rem;
    color: var(--color-backfunc);
    border: none;
  } */


  .content__header--filter-select:focus {
    outline: none;
  }

  .content__header--filter-select:hover {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    .content__header--filter-select {
      display: block;
      width: 150%;
      color: var(--light-gray);
      font-size: 1rem;
      padding: 5px 20px;
      background-color: var(--color-backfunc);
    }
  }
  @media (min-width: 768px) {
    .content {
      width: 77%;
      margin-left: auto;
      background-color: var(--light-gray);
      /* background-color: var(--color-backfunc); */
    }
    
    .content__header {
      background-color: var(--color-backfunc);
      /* background-color: rgba(232, 232, 232, 0.5); */
      padding: 10px 56px;
      display: flex;
      justify-content: space-between;
      top: 0;
      backdrop-filter: blur(7px);
      box-shadow: 0px -20px 40px var(--color-backfunc);
    }
  
    .content__header--title {
      /* color: var(--color-backfunc); */
      color: var(--light-gray);
      font-size: 2rem;
      border-bottom: none;
      font-weight: 500;
    }
  
    .content__header--filter {
      display: flex;
      align-self: center;
    }
  
    /* .content__header--filter span {
      width: 100%;
      font-size: 1.5rem;
      padding: 3px 5px;
      height: 30px;
    } */
  
    /* span.active {
      border-radius: 16px;
      background: linear-gradient(
        to right,
        var(--color-primary),
        var(--dark-red)
      );
      color: var(--light-gray);
      border-bottom: none;
    } */
  }
  