.content {
    width: 100%;
    background-color: #dadada;
  }
  
  .content__header {
    background-color: var(--light-gray);
    padding: 0;
    position: sticky;
    width: 100%;
    top: 60px;
    z-index: 1;
  }

  .leftDiv {
    display: flex;
    align-items: center;
  }
  
  .content__header--title {
    width: 95%;
    color: var(--color-backfunc);
    text-shadow: 0px 2px 4px rgba(32, 33, 36, 0.2);
    font-weight: bold;
    font-size: 3rem;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    margin-bottom: 5px;
  }

  .searchDiv {
    background-color: #cecece;
    border-radius: 15px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-left: 20px;
  }

  .fa-solid.fa-magnifying-glass {
    color: #858585;
  }

  .content__header--search {
    background: transparent;
    margin-left: 5px;
    height: 100%;
    border: transparent;
    outline: none;
    font-size: 1.4rem;
    color: var(--color-backfunc);
  }

  .content__header--search:focus {
    outline: none;
  }

  .content__header--filter-select {
    background: transparent;
    margin-left: 5px;
    height: 100%;
    border: transparent;
    outline: none;
    color: var(--color-backfunc);
    font-size: 1.6rem;
    border-radius: 10px;
    background: linear-gradient(
      to right,
      var(--color-primary),
      var(--dark-red)
    );
    color: var(--light-gray);
    padding: 5px 10px;
  }

  .content__header--filter-select option {
    font-size: 1.4rem;
    color: var(--color-backfunc);
    border: none;
  }


  .content__header--filter-select:focus {
    outline: none;
  }

  .content__header--filter-select:hover {
    cursor: pointer;
  }
  
  .content__header--filter {
    /* cursor: pointer;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr)); */
  }
  
  /* .content__header--filter span {
    text-align: center;
    display: block;
    font-size: 1.5rem;
    padding: 5px 3px;
    text-transform: capitalize;
    color: #c8c8c8;
  } */
  
  /* span.active {
    border-bottom: 3px solid var(--dark-red);
    color: var(--dark-red);
  } */
  
  @media (min-width: 768px) {
    .content {
      width: 77%;
      margin-left: auto;
      background-color: var(--light-gray);
    }
  
    .content__header {
      background-color: rgba(232, 232, 232, 0.5);
      padding: 15px 56px;
      display: flex;
      justify-content: space-between;
      top: 0;
      backdrop-filter: blur(7px);
      box-shadow: 0px -20px 40px var(--color-backfunc);
    }
  
    .content__header--title {
      color: var(--color-backfunc);
      font-size: 4rem;
      border-bottom: none;
    }
  
    .content__header--filter {
      align-self: flex-end;
      display: flex;
    }
  
    /* .content__header--filter span {
      width: 100%;
      font-size: 1.5rem;
      padding: 3px 5px;
      height: 30px;
    } */
  
    /* span.active {
      border-radius: 16px;
      background: linear-gradient(
        to right,
        var(--color-primary),
        var(--dark-red)
      );
      color: var(--light-gray);
      border-bottom: none;
    } */
  }
  