
  /* modal body */
  
  .form__group {
    margin-bottom: 20px;
  }
  
  .form__group--label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    background: -webkit-linear-gradient(
      90deg,
      var(--color-primary),
      var(--dark-red)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .form__group--select,
  .form__group--text {
    background-color: transparent;
    padding: 4px 0;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    color: var(--color-backfunc);
    font-size: 1rem;
    font-weight: 400;
    display: block;
    width: 100%;
    font-family: "Outfit", sans-serif;
  }
  .form__group--select:focus,
  .form__group--text:focus {
    border-bottom: 2px solid var(--color-primary);
    outline: var(--color-primary);
  }
  .form__submit {
    display: flex;
    justify-content: flex-end;
  }
  .form__submit--btn {
    margin-top: 20px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: filter 0.2s ease;
  }
  
  .form__submit--btn:hover {
    filter: brightness(80%);
  }

  .photo-user {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .modal__content--rol {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .modal__content--body.profile__body > form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .profile__body > form .form__group {
    width: 100%;
  }
  
  .profile__body > form .form__submit {
    width: 100%;
  }
  

  .error-message {
    font-size: 12px;
    text-align: end;
    color: red;
  }

  .input-error-active {
    border: 1px solid rgb(175, 7, 7);
  }