.comment {
    margin: 40px auto;
    display: flex;
    align-items: center;
  }
  
  .comment__like {
    padding: 5px 10px;
    background: var(--white);
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 4px -3px rgb(0 0 0 / 62%);
    margin-right: 5px;
    cursor: pointer;
  }
  
  .comment__like>span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
  }

  .fa-solid.fa-heart {
    color: #e74c3c;
    transition: all .2s ease;
    animation: heartBeat 1s;
  }

  @keyframes heartBeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .comment__body {
    align-items: flex-start;
    display: box;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-left: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 26px -21px;
    padding: 20px 10px;
    border-radius: 15px;
  }

  @media (min-width: 768px) {
    .comment__like {
      margin-right: 10px;
    }

    .comment__body { 
      padding: 30px 20px;

    margin-left: 10px;
    }
  }

  .coment__body--header {
    align-items: flex-start;
    box-sizing: border-box;
    color: #4e4e4e;
    font-size: 1.5rem;
    display: box;
    display: flex;
    line-height: 30px;
    box-flex: 1;
    flex: 1;
    width: 100%;
    margin-left: 2px;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .comment__body--userText {
    color: var(--color-primary);
    font-size: 1.7rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s ease-out;
  }

  .comment__body--userText:hover {
    text-decoration: underline;
  }  

  .comment__body--userBest {
    margin-left: 10px;
    font-size: 1.3rem;
    color: #c2c2c2;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

/* vista externa a otros usuarios */
  .comment__body--userBestExt {
    margin-left: 10px;
    font-size: 1.3rem;
    color: var(--color-secondary);
    cursor: pointer;
  }

  .comment__body--userBestExt.bestExt {
    color: var(--color-secondary);
  }

  /* fin vista externa */

  .comment__body--userBest.best {
    color: var(--color-secondary);
    animation: bestComment 1s;
  }

  @keyframes bestComment {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .comment__body--userBest:hover {
    transform: scale(1.05);
  }

  .comment__body--userBest>span {
    display: none;
    margin-left: 2px;
  }

  @media (min-width: 768px) {
    .comment__body--userBest>span {
      display: inline-block;
    }
  }

  .comment__body--description {
    box-sizing: border-box;
    font-size: 1.55rem;
    margin-bottom: 0.5rem;
    word-break: break-word;
    max-height: 210px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    margin-left: 40px;
  }

  .comment__body--user {
    display: flex;
    align-items: center;
  }
  
  .comment__body--userImg {
    height: 30px;
    width: 30px;
    background: var(--color-backfunc);
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
  }