.float__button {
    position: fixed;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--dark-red);
    color: var(--white);
    right: 50px;
    top: 20px;
    z-index: 9;
    box-shadow: 1px 1px 23px -1px rgb(0 0 0 / 80%);
    display: flex;
    align-items: center;
}

.float__button > span {
    font-size: var(--text-fl-sx);
    margin-left: 5px;
}

.float__button:visited {
    color: var(--white);
}

.fa-solid.fa-angle-left {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
}