.float__button {
    position: fixed;
    padding: 10px 20px;
    border-radius: 50%;
    background-color: var(--dark-red);
    color: var(--white);
    font-size: 1.5rem;
    right: 50px;
    top: 20px;
    z-index: 9;
    box-shadow: 1px 1px 23px -1px rgb(0 0 0 / 80%);
    display: flex;
    align-items: center;
}

.float__button:visited {
    color: var(--white);
}

.fa-solid.fa-angle-left {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
}