
.header__mobile--rol {
  background: linear-gradient(to right, var(--dark-red), var(--color-secondary));
  padding: 2px 10px;
  border-radius: 5px;
  display: flex;
  flex: 1 0 0;
  width: 100%;
}

.header__mobile--rol > p {
  color: var(--light-gray);
  font-weight: 600;
  font-size: var(--text-fl-sx);
}

svg {
  width: 20px;
  margin-right: 5px;
  color: var(--white);
}
  
/* tooltip */

.tooltip-container {
  cursor: pointer;
  position: relative;
}

.header__mobile--rol:hover + .tooltip-one {
  display: block;
}