.comment {
    margin: 40px auto 80px;
    display: flex;
    align-items: center;
  }
  
  .comment__like {
    padding: 5px 10px;
    background: var(--white);
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 4px -3px rgb(0 0 0 / 62%);
    margin-right: 20px;
  }

  .comment__body {
    align-items: flex-start;
    display: box;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-left: 1rem;
  }

  .coment__body--header {
    align-items: flex-start;
    box-sizing: border-box;
    color: #4e4e4e;
    font-size: 14px;
    display: box;
    display: flex;
    line-height: 30px;
    box-flex: 1;
    flex: 1;
    width: 100%;
    margin-left: 2px;
    justify-content: space-between;
  }

  .comment__body--userText {
    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: 600;
  }

  .comment__body--description {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 0.5rem;
    word-break: break-word;
    max-height: 210px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .comment__body--user {
    display: flex;
    align-items: center;
  }
  
  .comment__body--userImg {
    height: 30px;
    width: 30px;
    background: var(--color-backfunc);
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
  }

  
  /* .comment__body {
  
  .comment__body--user {
    display: flex;
    align-items: center;
  }
  
  .comment__body--userImg {
    height: 25px;
    width: 25px;
    background: var(--color-backfunc);
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
  }
  
  .comment__body--description {
    text-transform: capitalize;
    font-size: 1.3rem;
    color: var(--color-backfunc);
    margin-top: 10px;
    overflow-wrap: anywhere;
  }
  
  @media (min-width: 768px) {
    .comment__body--description {
      font-size: 1.5rem;
    }
  }
  
  .comment__time {
    display: flex;
    align-items: center;
  }
  
  .comment__time > i, .comment__time > span {
    font-size: 1.3rem;
  } */